{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block monTitre %}Page d'administration{% endblock %}
{% block body %}
{% for message in app.flashes('success') %}
<div class="alert alert-success">
    {{message}}
</div>
{% endfor %}


    <a class="btn btn-success" href="{{path('admin_aliment_creation')}}">Ajouter</a>
    <table class="table">
        <tr class="table-primary"> 
            <td>Image</td>
            <td>Aliment</td>
            <td>Type</td>
            <td>Prix</td>
            <td>Calories</td>
            <td>Proteines</td>
            <td>Glucides</td>
            <td>Lipides</td>
            <td>Action</td>
        </tr>
        {% for aliment in aliments %}
            <tr>
                <td><img src="{{asset('images/aliments/' ~ aliment.image)}}" class="perso_imgAlimentAdmin"></td>
                <td><strong>{{aliment.nom}}</strong></td>
                <td><strong>{{aliment.type.libelle}}</strong></td>
                <td>{{aliment.prix}}</td>
                <td>{{aliment.calorie}}</td>
                <td>{{aliment.proteine}}</td>
                <td>{{aliment.glucide}}</td>
                <td>{{aliment.lipide}}</td>
                <td>
                    <a class="btn btn-secondary" href="{{path('admin_aliment_modification', {'id' : aliment.id})}}">Modifier</a>
                    <form method="POST" style="display:inline-block" action="{{path('admin_aliment_modification', {'id': aliment.id})}}" onsubmit="return confirm('Confirmer la suppression ?')">
                        <input type="hidden" name="_method"  value="delete">
                        <input type="hidden" name="_token" value="{{csrf_token('delete' ~ aliment.id)}}">
                        <input type="submit" class="btn btn-danger" value="supprimer" >
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>


{% endblock %}
